

        <%= form_tag({controller: "sessions", action: "create"}) do %>
          <div class="container">
            <% flash.each do |key, value| %>
              <div style="color:red;" class="alert alert-<%= key %>"><%= value %></div>
             <% end %>
             <%= yield %>
         </div>
          <div class="login-field">
           <%= label_tag :email %>
           <%= text_field_tag :email, params[:email] %>
         </div>
         <div class="login-field">
           <%= label_tag :password %>
           <%= password_field_tag :password %>
         </div>
          <p class='tags'><%= submit_tag "Log In", class: "button btn btn-success" %></p>
         <% end %>
       <p class='tags'><%= link_to 'Sign Up', new_session_path, class: "button" %></p>

