<div class="margindiv">

        <%= form_tag({controller: "sessions", action: "create"}) do %>
          <div class="container">
            <% flash.each do |key, value| %>
              <div style="color:red;" class="alert alert-<%= key %>"><%= value %></div>
             <% end %>
             <%= yield %>
         </div>
          <div class="login-field">
           <%= label_tag :email %>
           <%= text_field_tag :email, params[:email], class:"form-control"  %>
         </div>
         <div class="login-field">
           <%= label_tag :password %>
           </div>
           <div class="marginbot">
           <%= password_field_tag :password, class:"form-control "  %>
         </div>
          <span class='tags'><%= submit_tag "Log In", class: "btn btn-success" %></span>
          <span class='tags'><%= link_to 'Sign Up', new_session_path, class: "btn btn-success" %></span>
         <% end %>
       
</div>
