<div class="container">
  <div class="row">
    <div class="col-sm" id="left">
      
       <%= form_tag({controller: "sessions", action: "create"}) do %>

          <div class="container">
            <% flash.each do |key, value| %>
              <div style="color:red;" class="alert alert-<%= key %>"><%= value %></div>
             <% end %>
             <%= yield %>
         </div>

          <div class="field">
           <%= label_tag :email %>
           <%= text_field_tag :email, params[:email], class:"form-control" %>
         </div>

         <div class="field">
           <%= label_tag :password %>
           <%= password_field_tag :password, params[:password], class:"form-control" %>
         </div>
           <div class="box">
            <span></span>
            <span></span>
            <span></span>
          </div>
          <br /><br />


          <p class='tags'><%= submit_tag "Log In", class: "btn btn-info", id:"white"  %></p>
         <% end %>
       <p class='tags'>Not registered? <%= link_to 'Sign Up', signup_path, class:"avior" %></p>
</div>





    </div>
    <div class="col-sm">
    </div>
  </div>
</div>

       
