<%= form_with(model: admin, local: true) do |form| %>
  <% if admin.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(admin.errors.count, "error") %> prohibited this admin from being saved:</h2>

      <ul>
      <% admin.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, class:"form-control" %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email, class:"form-control" %>
  </div>

   <div class="field">
    <%= form.label :create_password %>
    <%= form.password_field :password, class:"form-control" %>
  </div>

  <div class="field">
    <%= form.label :confirm_password %>
    <%= form.password_field :password_confirmation, class:"form-control" %>
  </div>

  <div class="actions">
    <%= form.submit class:"btn btn-info"%>
  </div>
<% end %>
