<%= form_with(model: applicant, local: true) do |form| %>
  <% if applicant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(applicant.errors.count, "error") %> prohibited this applicant from being saved:</h2>

      <ul>
      <% applicant.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, class:"form-control"   %>
  </div>

  <div class="field">
    <%= form.label :cohort %>
    <%= form.text_field :cohort, class:"form-control"   %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email, class:"form-control"   %>
  </div>

  <div class="field">
    <%= form.label :create_password %>
    <%= form.password_field :password, class:"form-control"   %>
  </div>

  <div class="field">
    <%= form.label :confirm_password %>
    <%= form.password_field :password_confirmation, class:"form-control"   %>
  </div>

  <div class="field">
    <%= form.label :phone %>
    <%= form.text_field :phone, class:"form-control"   %>
  </div>

  <div class="field">
    <%= form.label :bio %>
    <%= form.text_area :bio, class:"form-control"   %>
  </div>

  <div class="field">
    <%= form.label :linkedin %>
    <%= form.text_field :linkedin, class:"form-control"   %>
  </div>

  <div class="field">
    <%= form.label :github %>
    <%= form.text_field :github, class:"form-control"   %>
  </div>

  <div class="actions">
    <%= form.submit class:"btn btn-info" %>
  </div>
<% end %>
