<p id="notice"><%= notice %></p>
<div class="margindiv">
<h1>Applicants</h1>

<table class="table">
  <thead>
    <tr>
      <th scope="col" class="test">Name</th>
      <th scope="col">Cohort</th>
      <th scope="col">Email</th>
      <th scope="col">Phone</th>
      <th scope="col">Bio</th>
      <th scope="col">Linkedin</th>
      <th scope="col">Github</th>
      <th scope="col" colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @applicants.each do |applicant| %>
      <tr>
        <td class="fontz" ><%= applicant.name %></td>
        <td class="fontz" ><%= applicant.cohort %></td>
        <td class="fontz" ><%= applicant.email %></td>
        <td class="fontz" ><%= applicant.phone %></td>
        <td class="fontz" ><%= applicant.bio %></td>
        <td class="fontz" ><%= applicant.linkedin %></td>
        <td class="fontz" ><%= applicant.github %></td>
        <td class="fontz" ><%= link_to 'Show', applicant %></td>
        <td class="fontz" ><%= link_to 'Edit', edit_applicant_path(applicant) %></td>
        <td class="fontz" ><%= link_to 'Destroy', applicant, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Applicant', new_applicant_path, class:"badge badge-light" %>
