<p id="notice"><%= notice %></p>
<div class="container">
  <div class="row">
    <div class="col-sm">
      <p  class="fontz" >
        <span>Name:</span>
        <%= @applicant.name %>
      </p>
      <p class="fontz" >
        <strong>Phone:</strong>
        <%= @applicant.phone %>
      </p>
    </div>
    <div class="col-sm">
      <p class="fontz" >
        <strong>Email:</strong>
        <%= @applicant.email %>
      </p>
      <p class="fontz" >
        <strong>Linkedin:</strong>
        <%= @applicant.linkedin %>
      </p>
    </div>
    <div class="col-sm">
      <p class="fontz" >
        <strong>Cohort:</strong>
        <%= @applicant.cohort %>
      </p>
      <p class="fontz" >
        <strong>Github:</strong>
        <%= @applicant.github %>
      </p>
    </div>
  </div>
</div>
<div class="margindiv">
<p class="fontz" >
  <strong>Bio:</strong>
  <%= @applicant.bio %>
</p>
<hr />
<h1>Jobs</h1>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Company</th>
      <th scope="col">Position</th>
      <th scope="col">Status</th>
      <th scope="col">Link</th>
      <th scope="col" colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @jobs.each do |job| %>
      <tr>
        <td><%= job.company %></td>
        <td><%= job.position %></td>
        <td><%= job.status %></td>
        <td><%= job.link %></td>
        <td><%= link_to 'Show', job %></td>
        <td><%= link_to 'Edit', edit_job_path(job) %></td>
        <td><%= link_to 'Destroy', job, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Back', applicants_path, class:"badge badge-light" %>

</div>
