<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @applicant.name %>
</p>

<p>
  <strong>Cohort:</strong>
  <%= @applicant.cohort %>
</p>

<p>
  <strong>Email:</strong>
  <%= @applicant.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @applicant.phone %>
</p>

<p>
  <strong>Bio:</strong>
  <%= @applicant.bio %>
</p>

<p>
  <strong>Linkedin:</strong>
  <%= @applicant.linkedin %>
</p>

<p>
  <strong>Github:</strong>
  <%= @applicant.github %>
</p>
<hr />

<h1>Jobs</h1>

<table>
  <thead>
    <tr>
      <th>Company</th>
      <th>Position</th>
      <th>Status</th>
      <th>Link</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @jobs.each do |job| %>
      <tr>
        <td><%= job.company %></td>
        <td><%= job.position %></td>
        <td><%= job.status %></td>
        <td><%= job.link %></td>
        <td><%= link_to 'Show', job %></td>
        <td><%= link_to 'Edit', edit_job_path(job) %></td>
        <td><%= link_to 'Destroy', job, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Back', applicants_path %>
<%= link_to 'Logout', logout_url %>

