<div class="formdiv">

  <%= form_with(model: job, local: true) do |form| %>
  <% if job.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(job.errors.count, "error") %> prohibited this job from being saved:</h2>

      <ul>
      <% job.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :company %>
    <%= form.text_field :company, class:"form-control"  %>
  </div>

  <div class="field">
    <%= form.label :position %>
    <%= form.text_field :position, class:"form-control"  %>
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.text_field :status, class:"form-control"  %>
  </div>

  <div class="field">
    <%= form.label :link %>
    <%= form.text_field :link, class:"form-control"  %>
  </div>

  <div class="actions">
    <%= form.submit class:"btn btn-success"%>
  </div>
</div>
<% end %>
