<div class="margindiv">
<p id="notice"><%= notice %></p>
</div>
<div class="margindiv">
<h1>Jobs</h1>

<table class="table">
  <thead>
    <tr scope="col" >
      
      <th scope="col" >Date Applied</th>
      <th scope="col" >Company</th>
      <th scope="col" >Position</th>
      <th scope="col" >Status</th>
      <th scope="col" >Link</th>
      <th scope="col" colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @jobs.each do |job| %>
      <tr>
        
        <td class="fontz" ><%= job.created_at.to_formatted_s(:short) %></td>
        <td class="fontz" ><%= job.company %></td>
        <td class="fontz" ><%= job.position %></td>
        <td class="fontz" ><%= job.status %></td>
        <td class="fontz" ><a href="<%= job.link %>" target="_blank" rel="noopener noreferrer"><%= job.link %></a></td>
        <td class="fontz" ><%= link_to 'Show', job, class:"blue" %></td>
        <td class="fontz" ><%= link_to 'Edit', edit_job_path(job) %></td>
        <td class="fontz" ><%= link_to 'Destroy', job, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Job', new_job_path, class:"btn btn-info", id:"white"  %>
</div>
