<div class="margindiv">
<p id="notice"><%= notice %></p>

<p class="fontz">
  <strong>Company:</strong>
  <%= @job.company %>
</p>

<p class="fontz">
  <strong>Position:</strong>
  <%= @job.position %>
</p>

<p class="fontz">
  <strong>Status:</strong>
  <%= @job.status %>
</p>

<p class="fontz">
  <strong>Link:</strong>
  <a href="<%= @job.link %>" target="_blank" rel="noopener noreferrer"> <%= @job.link %></a>
</p>
<p class="fontz">
  <strong>Date Applied:</strong>
  <%= @job.created_at.to_formatted_s(:short) %>
</p>

<%= link_to 'Edit', edit_job_path(@job), class:"btn btn-info", id:"white"  %> 
<%= link_to 'Back', applicants_path, class:"btn btn-info", id:"white"  %>
<%= link_to 'Add Follow Up', new_job_followup_path(@job), class:"btn btn-info", id:"white"  %>

<table class="table">
  <thead>
    <tr scope="col" >
      
      <th scope="col" >Created</th>
      <th scope="col" >#</th>
      <th scope="col" >Point of Contact</th>
      <th scope="col" >Mode</th>
    
      <th scope="col" colspan="3"></th>
    </tr>
  </thead>
  <br /> <br />
  <tbody>
    <% @followups.each do |followup| %>
      <tr>
        
        <td class="fontz" ><%= followup.created_at.to_formatted_s(:short) %></td>
        <td class="fontz" ><%= followup.number %></td>
        <td class="fontz" ><%= followup.contact %></td>
        <td class="fontz" ><%= followup.mode %></td>
        <td class="fontz" ><%= link_to 'Edit', edit_job_followup_path(followup.job_id, followup.id) %></td>
        <td class="fontz" ><%= link_to 'Delete', job_followup_path(followup.job_id, followup.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>

      </tr>
    <% end %>
  </tbody>
</table>

</div>
