<div class="margindiv">
<p id="notice"><%= notice %></p>

<p class="fontz">
  <strong>Company:</strong>
  <%= @job.company %>
</p>

<p class="fontz">
  <strong>Position:</strong>
  <%= @job.position %>
</p>

<p class="fontz">
  <strong>Status:</strong>
  <%= @job.status %>
</p>

<p class="fontz">
  <strong>Link:</strong>
  <%= @job.link %>
</p>
<p class="fontz">
  <strong>Date Applied</strong>
  <%= @job.created_at %>
</p>

<p class="fontz">
  <strong>Applicant:</strong>
  <%= @job.applicant_id %>
</p>

<%= link_to 'Edit', edit_job_path(@job), class: "btn btn-success"  %> |
<%= link_to 'Back', jobs_path, class: "btn btn-success"  %>

</div>
